<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prefeitura Municipal de Limoeiro do Norte</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="demo/css/theme.min.css" rel="stylesheet">
    <link href="demo/css/demo.css" rel="stylesheet">
    <link href="demo/css/yamm.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
<aside>
  <ul class="social hidden-xs hidden-sm">
    <li><a class="fa fa-facebook" href="#"><span></span></a></li>  
    <li><a class="fa fa-twitter" href="#"><span></span></a></li>  
    <li><a class="fa fa-instagram" href="#"><span></span></a></li>  
    <li><a class="fa fa-google-plus" href="#"><span></span></a></li>
    <li><a class="fa fa-angle-up" href="#header-top"><span></span></a></li>
  </ul>
</aside>
<header class="container-fluid">
  <!-- MENU SECUNDÁRIO -->
  <div class="row hidden-xs hidden-sm">
    <nav class="navbar navbar-default yamm navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-text">Município, 12 de dezembro de 2016</p>
        </div>
        <ul class="nav navbar-nav" style="float:right;">
          <li><a href="#" class="navbar-link">Contraste</a></li>
          <li><a href="#" class="navbar-link">A+</a></li>
          <li><a href="#" class="navbar-link">a-</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">
    <section id="header-top">
      <div class="container">
        <!-- CABEÇALHO ESQUERDA -->
        <div class="col-lg-4 col-md-5"><img src="demo/img/logo.png" class="img-responsive" alt="" style="margin:20px 0;"></div>

        <!-- CABEÇALHO MEIO -->
        <div class="col-lg-4 col-md-3">
        </div>

        <!-- CABEÇALHO DIREITA -->
        <div class="col-lg-4 col-md-4 hidden-xs" style="padding:15px 0;">

          <!-- TEMPERATURA -->
          <div class="row">
            <div class="col-sm-2">
              <p style="font-size:32px; font-weight:bold; margin-bottom:0;"><span id="currentTemperature"></span><span>°</span></p>
            </div>
            <div class="col-sm-10">
              <small><span id="hourlySummary"></span></small><br>
              <small>Humidade: <span id="humidity"></span></small><br>
              <!--<small>Força do vento: <span id="currentWind"></span> Km/h</small><br>-->
            </div>
          </div>
          <hr>
          <!-- BUSCA -->
          <div class="row">
            <form id="search" method="get" action="">
              <div class="input-group">
                <input type="text" class="form-control" aria-label="..." placeholder="O que você procura?">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

    <!-- MENU PRINCIPAL -->
    <div class="row">
      <nav class="navbar navbar-inverse navbar-static-top yamm" data-spy="affix" data-offset-top="200">
        <div class="container">
          <div class="navbar-header">
            <!-- BOTÃO DE NAVEGAÇÃO -->
            <button type="button" data-toggle="collapse" data-target="#navbar-main-menu" class="navbar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- BUSCA -->
            <form id="search-mobile" class="visible-xs" method="get" action="">
              <div class="input-group">
                <input type="text" class="form-control" aria-label="..." placeholder="O que você procura?">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
              </div>
            </form>
          </div>
          <div id="navbar-main-menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html" alt="Início"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>

              <!-- O MUNICÍPIO -->
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">O município<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="yamm-content">
                      <div class="row">
                        <ul class="col-xs-4 list-unstyled">
                          <li><p><strong>Sobre o município</strong></p></li>
                          <li><a href="#">História</a></li>
                          <li><a href="#">Geografia</a></li>
                          <li><a href="#">Economia</a></li>
                          <li><a href="#">Turismo</a></li>
                          <li><a href="#">Cultura</a></li>
                          <li><a href="#">Símbolos</a></li>
                        </ul>
                        <ul class="col-xs-4 list-unstyled">
                          <li><p><strong>Sobre a prefeitura</strong></p></li>
                          <li><a href="#">Prefeito</a></li>
                          <li><a href="#">Vice prefeito</a></li>
                          <li><a href="#">Contas públicas</a></li>
                          <li><a href="#">Licitações</a></li>
                          <li><a href="#">Concursos</a></li>
                          <li><a href="#">Legislação</a></li>
                        </ul>
                        <ul class="col-xs-4 list-unstyled">
                          <li><img src="http://placehold.it/350x350" alt="..." class="img-rounded img-responsive"></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>

              <!--DEPARTAMENTOS-->
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Departamentos<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="yamm-content">
                      <div class="row">
                        <ul class="col-xs-3 list-unstyled">
                          <li><strong><a href="secretaria.html">Gabinete do prefeito</a></strong></li>
                        </ul>
                        <ul class="col-xs-3 list-unstyled">
                          <li><p><strong>Secretarias</strong></p></li>
                          <li><a href="secretaria.html">Secretaria A</a></li>
                          <li><a href="secretaria.html">Secretaria B</a></li>
                          <li><a href="secretaria.html">Secretaria C</a></li>
                          <li><a href="secretaria.html">Secretaria D</a></li>
                          <li><a href="secretaria.html">Secretaria E</a></li>
                          <li><a href="secretaria.html">Secretaria F</a></li>
                        </ul>
                        <ul class="col-xs-3 list-unstyled">
                          <li><p><strong>Outros orgãos</strong></p></li>
                          <li><a href="secretaria.html">Consultoria</a></li>
                          <li><a href="secretaria.html">Controladoria</a></li>
                          <li><a href="secretaria.html">Procuradoria</a></li>
                          <li><a href="secretaria.html">Departamento A</a></li>
                          <li><a href="secretaria.html">Departamento B</a></li>
                          <li><a href="secretaria.html">Departamento C</a></li>
                        </ul>
                        <ul class="col-xs-3 list-unstyled">
                          <li><img src="http://placehold.it/350x350" alt="..." class="img-rounded img-responsive"></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>

              <!--INFORMATIVOS-->
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Informativos<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#"> Notícias </a></li>
                  <li><a tabindex="-1" href="#"> Eventos </a></li>
                  <li><a tabindex="-1" href="#"> Agenda </a></li>
                </ul>
              </li>

              <!--TRANSPARÊNCIA-->
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Transparência<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#"> Contas públicas </a></li>
                  <li><a tabindex="-1" href="#"> Portal da transparência </a></li>
                  <li><a tabindex="-1" href="#"> Solicitação de acesso à informação </a></li>
                  <li><a tabindex="-1" href="#"> Ouvidoria </a></li>
                </ul>
              </li>

              <!--CONTATO-->
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Contato<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Telefones úteis e endereços </a></li>
                  <li><a tabindex="-1" href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Fale conosco </a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>


<!--INÍCIO NOTÍCIAS-->
<section id="news" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="page-header">
          <p>Secretaria de finanças</p>
        </div>
        <img src="http://placehold.it/250x250" class="img-responsive img-circle center-block" alt="...">
        <h3 class="text-center">John Doe</h3>
        <hr>
        <p style="text-align:justify; text-indent: 50px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique, sem id efficitur mollis, neque ligula facilisis diam, eget fringilla lacus ligula at lectus. Sed molestie quam vel dui volutpat venenatis. Pellentesque sodales mauris vitae nulla posuere semper. Vestibulum hendrerit leo nunc, non placerat lacus fringilla sed. Proin sit amet iaculis sapien, id viverra nisi. In ac facilisis diam, vel pellentesque nibh. Duis pharetra libero et eros egestas volutpat. Quisque tempus lacinia est in ultricies. Aliquam erat volutpat. Mauris dignissim arcu sed lacus pellentesque iaculis.</p>
        <hr>
        <address class="text-center">
          Rua xxxxxxx xxxxxxx xxx, 000<br />
          Bairro xxxxxxx, CEP: 00000-000<br />
          <abbr title="Telefone">Fone:</abbr> (00) 0 0000-0000<br />
          Email: email@email.com
        </address>  
      </div>

      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <div class="page-header">
              <p>Notícias</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4"><img src="http://placehold.it/400x250" class="img-responsive" alt="..."></div>
          <div class="col-sm-8">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <small><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 12/12/2016 15:36</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id quam et erat porta consectetur et ut libero...</p>
            <p><a href="#">Ver mais</a></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4"><img src="http://placehold.it/400x250" class="img-responsive" alt="..."></div>
          <div class="col-sm-8">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <small><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 12/12/2016 15:36</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id quam et erat porta consectetur et ut libero...</p>
            <p><a href="#">Ver mais</a></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4"><img src="http://placehold.it/400x250" class="img-responsive" alt="..."></div>
          <div class="col-sm-8">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <small><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 12/12/2016 15:36</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id quam et erat porta consectetur et ut libero...</p>
            <p><a href="#">Ver mais</a></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4"><img src="http://placehold.it/400x250" class="img-responsive" alt="..."></div>
          <div class="col-sm-8">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <small><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 12/12/2016 15:36</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id quam et erat porta consectetur et ut libero...</p>
            <p><a href="#">Ver mais</a></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4"><img src="http://placehold.it/400x250" class="img-responsive" alt="..."></div>
          <div class="col-sm-8">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <small><span class="glyphicon glyphicon-time" aria-hidden="true"></span> 12/12/2016 15:36</small>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id quam et erat porta consectetur et ut libero...</p>
            <p><a href="#">Ver mais</a></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div><!--.row-->
      </div>
    </div><!--.row-->
  </div>
</section>
<!--FIM NOTÍCIAS-->

<!--INÍCIO RODAPÉ-->
<footer class="container-fluid">
  <div class="container">
    <div class="row">

      <div class="col-md-3 hidden-xs hidden-sm">
        <ul>
          <li class="footer-menu-title">Sobre o município</li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> História</a></li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Geografia</a></li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Economia</a></li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Turismo</a></li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Cultura</a></li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Símbolos</a></li>
        </ul>
      </div>

      <div class="col-md-3 hidden-xs hidden-sm">
        <ul>
          <li class="footer-menu-title">Sobre a prefeitura</li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Prefeito</a></li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Vice prefeito</a></li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Contas públicas</a></li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Licitações</a></li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Concursos</a></li>
          <li class="footer-menu-link"><a href="#"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Legislação</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="col-md-12">
          <address>
            <strong>Prefeitura municipal de ...</strong><br />
            Rua xxxxxxx xxxxxxx xxx, 000<br />
            Bairro xxxxxxx, CEP: 00000-000<br />
            <abbr title="Telefone">Fone:</abbr> (00) 0 0000-0000
          </address>     
        </div>
        <div id="social-menu">
          <div class="col-md-3"><a href="#" class="btn btn-lg" id="facebook" title="Facebook"><span class="fa fa-facebook"></span></a></div>
          <div class="col-md-3"><a href="#" class="btn btn-lg" id="twitter" title="Twitter"><span class="fa fa-twitter"></span></a></div>
          <div class="col-md-3"><a href="#" class="btn btn-lg" id="googlep" title="Google +"><span class="fa fa-google-plus"></span></a></div>
          <div class="col-md-3"><a href="#" class="btn btn-lg" id="instagram" title="Instagram"><span class="fa fa-instagram"></span></a></div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 hidden-xs">
        <img src="demo/img/brasao.png" class="img-responsive center-block" alt="" style="max-height:180px;">
      </div>
    </div>
  </div>
</footer>
<!--FIM RODAPÉ-->

<!--COPYRIGHT-->
<section id="copyright" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <p class="text-center">Copyright © 2016 | Prefeitura Municipal de ... | Site criado por: <a href="">...</a></p>
    </div>
  </div>
</section>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css"></script>
  <script>
    function initMap() {
      var limo = {lat: -5.1480107, lng: -38.0995};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 17,
        center: limo,
        disableDefaultUI: false,
        navigationControl: false,
        mapTypeControl: false,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var marker = new google.maps.Marker({
        position: limo,
        map: map
      });
    }


  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHbI4RBOo0PnVvUft9mJApG4YnWTjrQLo&callback=initMap"></script>

  <script>
    $(function() {
      window.prettyPrint && prettyPrint()
      $(document).on('click', '.yamm .dropdown-menu', function(e) {
        e.stopPropagation()
      })
    })

    $(document).ready(function() {
      $('#carousel2').carousel({
        interval: 5000
      });
      $('#carousel3').carousel({
        interval: 5000
      });
      $('#carousel4').carousel({
        interval: 5000
      })
    });

    $(document).ready(function(){
      var apiKey = 'b04dbf475994a98f5849aa6856a4596d';
      var curl = 'https://api.forecast.io/forecast/';
      var lati = -5.1480107;
      var longi = -38.0995;
      var data;
      $.ajax({
        type: "GET",
        url: curl + apiKey +"/"+ lati +","+ longi + "?callback=?&units=uk&lang=pt",
        dataType: "json",
        success: function(data){
          //var json = $.parseJSON(data);
          console.log(data);
          $("#currentTemperature").append(Math.floor(data.currently.apparentTemperature));
          $("#currentTime").append(Date(data.currently.time));
          if(data.currently.icon == 'clear-day') { $("#currentIcon").addClass("wi-day-sunny") };
          if(data.currently.icon == 'clear-night') { $("#currentIcon").addClass("wi-night-clear") };
          if(data.currently.icon == 'rain') { $("#currentIcon").addClass("wi-rain") };
          if(data.currently.icon == 'snow') { $("#currentIcon").addClass("wi-snow") };
          if(data.currently.icon == 'sleet') { $("#currentIcon").addClass("wi-day-sleet") };
          if(data.currently.icon == 'wind') { $("#currentIcon").addClass("wi-day-windy") };
          if(data.currently.icon == 'fog') { $("#currentIcon").addClass("wi-fog") };
          if(data.currently.icon == 'cloudy') { $("#currentIcon").addClass("wi-cloudy") };
          if(data.currently.icon == 'partly-cloudy-day') { $("#currentIcon").addClass("wi-day-cloudy") };
          if(data.currently.icon == 'partly-cloudy-night') { $("#currentIcon").addClass("wi-night-cloudy") };
          if(data.currently.icon == 'hail') { $("#currentIcon").addClass("wi-hail") };
          if(data.currently.icon == 'thunderstorm') { $("#currentIcon").addClass("wi-thunderstorm") };
          if(data.currently.icon == 'tornado') { $("#currentIcon").addClass("wi-meteor") };
          $("#humidity").append(data.currently.humidity);
          $("#currentWind").append(data.currently.windSpeed);
          $("#hourlySummary").append(data.hourly.summary);
          $("#currentSummary").append(data.currently.summary);
          $("#daily_summary").append(data.daily.summary);
          $("weekly").append(data.daily.data[0].apparentTemperatureMax);
        },
        error: function() {
          alert("An error occurred");
        }
      });
    });
  </script>
  </body>
</html>